@import "../../colors/styles.css";

.start {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  align-items: center;
  max-width: 59.4rem;
  margin: 0 auto;
  padding: 8.3rem 1rem 8.5rem 1rem;
  gap: 0.4rem;

  .startHeader {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.8rem;
    .startTitle {
      font-size: 2rem;
      font-weight: 500;
    }
    .startDescription {
    }
  }

  .startButton {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-white);
    background-color: var(--correct-answer-color);

    border-radius: 2.4rem;
    padding: 2rem;
    width: 19.4rem;
    font-size: 2.8rem;
    font-weight: 500;

    cursor: pointer;

    box-shadow: 0px 16px 40px 0px var(--box-shadow-color);
  }
}
