.results {
  max-width: 46.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 4rem;

  .resultTitle {
    color: var(--secondary-color);

    font-size: 2.5rem;
    font-weight: 500;
    line-height: 120%;
    margin: 2rem 0 1rem 0;
  }
  .questions {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    .resultQuestion {
      font-family: inherit;
      /* font-size: 2.3rem; */
      font-size: 1.8rem;

      font-weight: 500;
      line-height: 100%;

      padding: 1.8rem 2rem 1.8rem 2rem;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 3.2rem;
      width: 100%;

      color: var(--secondary-color);
      border: none;
      border-radius: 2.4rem;
      /* cursor: pointer; */
      background: var(--progress-n-option-bg-color);
      box-shadow: 0 1.6rem 4rem 0 var(--box-shadow-color);

      position: relative;
    }

    .questionNumberContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--option-letter-background-color);
      border-radius: 0.8rem;
    }
    .questionNumber {
      color: var(--option-letter-color);
      width: 5.6rem;
      height: 5.6rem;
      font-size: 2.3rem;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .questionTextContainer {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .questionText {
      display: inline-block;
      text-align: left;
      /* font-size: 1.8rem; */
    }

    .resultQuestion.correct .questionNumberContainer {
      background-color: var(--correct-letter-container-color);
    }

    .resultQuestion.correct .questionNumber {
      color: var(--option-letter-color);
    }

    .resultQuestion.incorrect .questionNumberContainer {
      background-color: var(--wrong-letter-container-color);
    }

    .resultQuestion.incorrect .questionNumber {
      color: var(--option-letter-color);
    }
  }
}
